<div id='wrap'>

<div id='external-events'>
<h4>Draggable Events</h4>
<% Event.unscheduled.each do |event| %>
<div class='fc-event'><%=event.title%></div>
<%end%>
<p>
<input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label>
</p>
<%= simple_form_for Event.new, remote: true do |f| %>
  <%= f.input :title %>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>

<div id='calendar'></div>

<div style='clear:both'></div>
</div>
